.menu {
  display: none;
}

#click:checked ~ .menu {
  display: flex;
}

#click:checked + label .top {
  transform: rotate(45deg);
}

#click:checked + label .middle {
  opacity: 0;
}

#click:checked + label .bottom {
  transform: rotate(-45deg);
}

/* Navbar 2 */
.menu2 {
  display: none;
}

#click2:checked ~ .menu2 {
  display: flex;
}

#click2:checked + label .top {
  transform: rotate(45deg);
}

#click2:checked + label .middle {
  opacity: 0;
}

#click2:checked + label .bottom {
  transform: rotate(-45deg);
}

.sidebarMenu {
  display: none;
}

#sidebarclick:checked ~ .sidebarMenu {
  display: flex;
  flex-direction: column;
}

#sidebarclick:checked ~ label .sidebarbutton {
  transform: rotate(0deg);
  right: 20px;
  bottom:30px;
}
