@tailwind base;
@tailwind components;
@tailwind utilities;

.options {
  display: flex;
}

#addOptions:checked ~ .options {
  display: none;
}

.add {
  display: none;
}

#addOptions:checked + label .add {
  display: flex;
}

.remove {
  display: flex;
}

#addOptions:checked + label .remove {
  display: none;
}


.removebg {
  display: none;
}